# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Frontend (Node.js & Next.js)
**/node_modules/
**/.next/
**/out/
**/build/
**/*.tsbuildinfo
**/next-env.d.ts
**/.vercel
**/.env*.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnp
**/.pnp.js

# Backend (.NET)
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Re]leases/
**/[Bb]in/
**/[Oo]bj/
**/*bin\\*
**/*obj\\*
**/[Ll]og/
**/[Ll]ogs/
**/.vs/
**/*.user
**/*.userpreflight
**/*.suo
**/*.sln.docstates
**/mono_crash.*
**/.idea/
**/*.rsuser
**/*.user50
**/*.sqlsettings
**/x64/
**/x86/
**/[Aa]rm/
**/[Aa]rm64/
**/bld/
